<header class="header">
    <div class="container container--header">
        <div class="header__img header__img--legs">
            <img src="./assets/img/header-img.png" alt="">
        </div>
        <div class="header__img header__img--tablets">
            <img src="./assets/img/tablets-img.png" alt="">
        </div>
        <div class="header__top">
            <div class="header__logo">
                <img src="./assets/img/icons/logo-icon.png" alt="Logo icon">
                <p class="section__title section__title--logo">
                    Микоцин        
                </p>
            </div>
            <ul class="section__info info">
                <li class="info__item">
                    <img class="info__icon" src="./assets/img/icons/info-icon-1.svg" alt="">
                    <p>
                        №1 Для избавления <br>
                        от любого типа грибка
                    </p>
                </li>
                <li class="info__item">
                    <img class="info__icon" src="./assets/img/icons/info-icon-2.svg" alt="">
                    <p>
                        Рекомендован <br>
                        дерматологами  
                    </p>
                </li>
                <li class="info__item">
                    <img class="info__icon" src="./assets/img/icons/info-icon-3.svg" alt="">
                    <p>
                        13000+ довольных <br>
                        клиентов за 2018 год                            
                    </p>
                </li>
            </ul>
        </div>
        <div class="header__main">
            <div class="header__desc">
                <h1 class="section__title section__title--header section__title--left">
                    Комплексное
                    избавление
                    от грибка —
                </h1>
                <p class="section__sub-title section__sub-title--header">
                    <span class="underline-accent underline-accent--orange">изнутри</span> и <span class="underline-accent underline-accent--green">снаружи</span> 
                </p>
                <ul class="features">
                    <li class="features__item">
                        <div class="features__icon">
                            2в1
                        </div>
                        <p class="features__desc">
                            Комплекс Микоцин <b> устраняет
                            зуд, неприятный запах </b>
                            и возвращает эстетичный вид                                        
                        </p>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            1
                        </div>
                        <p class="features__desc">
                            <b>Таблетки</b> Микоцин
                            <b> уничтожают все виды грибка </b>
                            на ногтях и коже                                     
                        </p>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            2
                        </div>
                        <p class="features__desc">
                            <b>Гель</b> Микоцин
                            <b> восстанавливает кожу </b>
                            и создает на ней <b> защитный
                            барьер </b>                                        
                        </p>
                    </li>
                </ul>
            </div>
            <div class="header__order-form order-form">
                <div class="order-form__logo">
                    <img src="./assets/img/icons/delivery-icon.svg" alt="">
                    <span>
                        Бесплатно
                    </span>
                </div>
                <p class="order-form__title">
                    Успейте заказать <br>
                    со скидкой <br>
                    <span class="text-accent--orange"> до 10.09.2018 </span>
                </p>
                <div class="order-form__price">
                    <div class="order-form__price--old">
                        старая цена
                        <span class="price price--old"> 918₽ </span>
                    </div>
                    <div class="order-form__price--new">
                        новая цена
                        <span class="price price--new"> 459₽ </span>
                    </div>
                </div>
                <form action="#">
                    <input class="order-form__username order-form__field" type="text" name="Username" id="user-name" placeholder="Имя">
                    <input class="order-form__field order-form__phone" type="tel" name="Phone" id="user-phone" placeholder="Телефон">
                    <button class="order-form__field order-form__button" type="submit">
                        Заказать <br>
                        <span> со скидкой </span>       
                    </button>
                </form>
                <div class="order-form__info">
                    Осталось <span class="text-accent--green"> 10 </span> упаковок <br>
                    со скидкой                    
                </div>
                <div class="order-form__secured">
                    <img src="./assets/img/icons/security-icon.svg" alt="">
                    Ваши данные защищены!
                </div>
            </div>
        </div>
    </div>
</header>