<section class="section section--two">
    <div class="container">
        <div class="section__logo">
            <img src="./assets/img/icons/logo-icon.png" alt="Logo icon">
        </div>
        <h2 class="section__title">
            Почему большинство средств против грибка
            малоэффективны 
        </h2>
        <div class="section__content">
            <div class="card  card--section-two">
                <div class="card__heading card__heading--section-two">
                    <img class="card__icon" src="" alt="">
                    <h3 class="card__title">
                        Чудо-средства
                    </h3>
                    <p class="card__sub-title">
                        Обещают, что избавят от грибка 
                        меньше, чем за месяц, хотя
                        это невозможно. 
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span>
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                            Ноготь – это роговой слой кожи.
                            Он не имеет живых клеток. Часть 
                            ногтя, которая уже поражена 
                            грибком, не может выздороветь
                            до полного его отрастания. 
                            Единственный способ вылечить 
                            грибок – <b> подавлять его 
                            распространение все время,
                            пока ноготь не отрастет заново. </b>
                            Для этого требуется 4-6 месяцев.        
                    </p>
                </div>
            </div>
            <div class="card  card--section-two">
                <div class="card__heading card__heading--section-two">
                    <img class="card__icon" src="" alt="">
                    <h3 class="card__title">
                        Наружные средства
                    </h3>
                    <p class="card__sub-title">
                        Способны устранить внешние 
                        проявления грибка. 
                    </p>
                    <p class="card__sub-title--light">
                        (кремы, лаки, пластыри)
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span>
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                        Очаг заражения находится
                        под ногтевой пластиной, а наружные 
                        средства  не способны его достичь - 
                        они действуют только на на верхнем 
                        слое ногтя, поэтому <b> не способны 
                        избавить от грибка. </b> Для повышения 
                        их эффективности рекомендуется 
                        <b> спиливать ноготь полностью, </b>
                        но это больно, некрасиво
                        и совершенно <b> не дает гарантий 
                        выздоровления. </b>      
                    </p>
                </div>
            </div>
            <div class="card  card--section-two">
                <div class="card__heading card__heading--section-two">
                    <img class="card__icon" src="" alt="">
                    <h3 class="card__title">
                        Почему большинство средств против грибка
                        малоэффективны 
                    </h3>
                    <p class="card__sub-title">
                        Обещают, что избавят от грибка 
                        меньше, чем за месяц, хотя
                        это невозможно. 
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span>
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                        Ноготь – это роговой слой кожи.
                        Он не имеет живых клеток. Часть 
                        ногтя, которая уже поражена 
                        грибком, не может выздороветь
                                    до полного его отрастания. 
                                    Единственный способ вылечить 
                                    грибок – <b> подавлять его 
                                    распространение все время,
                                    пока ноготь не отрастет заново. </b>
                                    Для этого требуется 4-6 месяцев.        
                    </p>
                </div>
            </div>
        </div>
        <div class="section__footer section-footer">
            <img class="section-footer__img" src="./assets/img/icons/footer-img-1.svg" alt="">
            <p class="section-footer__desc">
                Статистика: каждые 60 секунд врачи диагностируют опасные поражения внутренних органов,
                вызванные грибком, у 1-го пациент        
            </p>
        </div>
    </div>
</section>