<section class="section section--one">
    <div class="container">
        <div class="section__logo">
            <img src="./assets/img/icons/logo-icon.png" alt="Logo icon">
        </div>
        <h2 class="section__title">
            Грибок – это опасная инфекция
        </h2>
        <p class="section__sub-title section__sub-title--bold">
            которая угрожает вам и вашим близким, ведь с каждым днем грибок приводит к:
        </p>
        <div class="section__content">
            <div class="card  card--section-one">
                <div class="card__heading card__heading--section-one">
                    <div class="card__img card__img--first">
                        <img src="./assets/img/img-1.png" alt="">
                        <span class="card__number card__number--first">1</span>
                    </div>
                    <h3 class="card__title card__title--left">
                        Сложным
                        формам
                        аллергии
                    </h3>
                </div>
                <div class="card__body card__body--section-one">
                    <p class="card__desc card__desc--left">
                        Может появится сильная реакция
                        на на привычную пищу, одежду,
                        средства гигиены        
                    </p>
                </div>
            </div>
            <div class="card  card--section-one">
                <div class="card__heading card__heading--section-one">
                    <div class="card__img card__img--second">
                        <img src="./assets/img/img-2.png" alt="">
                        <span class="card__number card__number--second">2</span>
                    </div>
                    <h3 class="card__title card__title--left">
                        Потере ногтя
                        и ампутации
                        пальца
                    </h3>
                </div>
                <div class="card__body card__body--section-one">
                    <p class="card__desc card__desc--left">
                        После полного разрушения ногтя
                        грибок распространяется на палец,
                        что приводит к его ампутации                      
                    </p>
                </div>
            </div>
            <div class="card card--section-one">
                <div class="card__heading card__heading--section-one">
                    <div class="card__img card__img--third">
                        <img src="./assets/img/img-3.png" alt="">
                        <span class="card__number card__number--third">3</span>
                    </div>
                    <h3 class="card__title card__title--left">
                        Тяжелому
                        поражению 
                        внутренних
                        органов
                    </h3>
                </div>
                <div class="card__body card__body--section-one">
                    <p class="card__desc card__desc--left">
                        Может привести к повреждениям
                        мозга, слепоте, отказу печени, почек
                        и сердца                                             
                    </p>
                </div>
            </div>
        </div>
        <div class="section__footer section-footer">
            <img class="section-footer__img" src="./assets/img/icons/footer-img-1.svg" alt="">
            <p class="section-footer__desc">
                Статистика: каждые 60 секунд врачи диагностируют опасные поражения внутренних органов,
                вызванные грибком, у 1-го пациент        
            </p>
        </div>
    </div>
</section>