<section class="section section--three">
        <div class="container">
                <div class="section__logo">
                    <img src="./assets/img/icons/logo-icon-red.png" alt="Logo icon">
                </div>
                <h2 class="section__title">
                    Почему таблетки <span class="section__accent">Микоцин</span> от грибка 
                    так эффективны?
                </h2>
                <p class="section__sub-title">
                    Другие средства не дают полную защиту от грибковых инфекций и могут быть опасны
                </p>
                <div class="section__content section__content--section-three">
                    <div class="card  card--section-three">
                        <div class="card__icon card__icon--section-three">
                            <img src="./assets/img/card-logo-1.png" alt="">
                        </div>
                        <div class="card__heading card__heading--section-three">
                            <h3 class="card__title">
                                Кремы и мази
                            </h3>
                        </div>
                        <div class="card__body card__body--section-three">
                            <p class="card__desc">
                                <b> Не лечат грибок, потому 
                                что не проникают в ногтевую 
                                пластину</b>. Только временно 
                                избавляют от симптомов инфекций. 
                                Могут вызвать сильную аллергию 
                                и раздражения на коже.       
                            </p>
                        </div>
                    </div>
                    <div class="card  card--section-three">
                        <div class="card__icon card__icon--section-three">
                            <img src="./assets/img/card-logo-2.png" alt="">
                        </div>
                        <div class="card__heading card__heading--section-three">
                            <h3 class="card__title">
                                Народные методы
                            </h3>
                        </div>
                        <div class="card__body card__body--section-three">
                            <p class="card__desc">
                                Помогают только в редких случаях. 
                                <b> Могут причинить вред коже 
                                и ногтям</b>. Не предотвращают 
                                повторные заражения грибком.                      
                            </p>
                        </div>
                    </div>
                    <div class="card card--section-three">
                        <div class="card__icon card__icon--section-three">
                            <img src="./assets/img/card-logo-3.png" alt="">
                        </div>
                        <div class="card__heading card__heading--section-three">
                            <h3 class="card__title">
                                Таблетки
                            </h3>
                        </div>
                        <div class="card__body card__body--section-three">
                            <p class="card__desc">
                                <b> Действуют против всех видов грибков</b>. 
                                Быстро снимают неприятные 
                                симптомы и уничтожают инфекцию 
                                изнутри вне зависимости от области 
                                заражения грибком. Надолго 
                                защищают от повторных заражений.                                             
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section__footer section__footer--section-three section-footer">
                    <p class="section-footer__desc section-footer__desc--section-three">
                        Зачем лечить сложнее, дольше и дороже, если есть Микоцин?        
                    </p>
                </div>
            </div>
</section>