<section class="section section--two">
    <div class="container">
        <div class="section__logo">
            <img src="./assets/img/icons/logo-icon.png" alt="Logo icon">
        </div>
        <h2 class="section__title">
            Почему большинство средств против грибка
            малоэффективны 
        </h2>
        <div class="section__content section__content--section-two">
            <div class="card  card--section-two">
                <div class="card__icon card__icon--first">
                    <img src="./assets/img/icons/card-icon-1.svg" alt="">
                </div>
                <div class="card__heading card__heading--section-two">
                    <h3 class="card__title card__title--section-two">
                        Чудо-средства
                    </h3>
                    <p class="card__sub-title">
                        Обещают, что избавят от грибка 
                        меньше, чем за месяц, хотя
                        это невозможно. 
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span class="card__accent">
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                            Ноготь – это роговой слой кожи.
                            Он не имеет живых клеток. Часть 
                            ногтя, которая уже поражена 
                            грибком, не может выздороветь
                            до полного его отрастания. 
                            Единственный способ вылечить 
                            грибок – <b> подавлять его 
                            распространение все время,
                            пока ноготь не отрастет заново. </b>
                            Для этого требуется 4-6 месяцев.        
                    </p>
                </div>
            </div>
            <div class="card  card--section-two">
                <div class="card__icon card__icon--second">
                    <img src="./assets/img/icons/card-icon-2.svg" alt="">
                </div>
                <div class="card__heading card__heading--section-two">
                    <h3 class="card__title card__title--section-two">
                        Наружные средства
                    </h3>
                    <p class="card__sub-title">
                        Способны устранить внешние 
                        проявления грибка. 
                    </p>
                    <p class="card__sub-title--light">
                        (кремы, лаки, пластыри)
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span class="card__accent">
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                        Очаг заражения находится
                        под ногтевой пластиной, а наружные 
                        средства  не способны его достичь - 
                        они действуют только на на верхнем 
                        слое ногтя, поэтому <b> не способны 
                        избавить от грибка. </b> Для повышения 
                        их эффективности рекомендуется 
                        <b> спиливать ноготь полностью, </b>
                        но это больно, некрасиво
                        и совершенно <b> не дает гарантий 
                        выздоровления. </b>      
                    </p>
                </div>
            </div>
            <div class="card  card--section-two">
                <div class="card__icon card__icon--third">
                    <img src="./assets/img/icons/card-icon-3.svg" alt="">
                </div>
                <div class="card__heading card__heading--section-two">
                    <h3 class="card__title card__title--section-two">
                        Внутренние средства 
                    </h3>
                    <p class="card__sub-title">
                        Убивают грибковую инфекцию
                        в организме. 
                    </p>
                    <p class="card__sub-title--light">
                        (таблетки, саше, капли)
                    </p>
                </div>
                <div class="card__body card__body--section-two">
                    <span class="card__accent">
                        Но        
                    </span>
                    <p class="card__desc card__desc--section-two">
                        <b> Могут подействовать только
                        при длительном использовании </b>
                        (6 - 8 месяцев). За это время 
                        внутренние средства в 93%
                        случаев наносят <b> серьезный
                        ущерб печени</b>, вызывают сыпь, 
                        отеки, диарею, рвоту. К тому же, 
                        каждое средство эффективно
                        только против одной группы
                        грибка из 4000 видов.
                    </p>
                </div>
            </div>
        </div>
        <div class="section__footer section__footer--section-two section-footer">
            <h3 class="section__title section__title--footer">
                Вывод:
            </h3>
            <span class="section-footer__accent">!</span>
            <p class="section-footer__desc">
                Даже если вы используете наружные и внутренние средства одновременно, это <b> не гарантирует
                избавления от грибка</b>: они могут конфликтовать между собой по составу и блокировать действие
                друг друга или быть неэффективными против вашего типа грибка.                        
            </p>
        </div>
    </div>
</section>