<section class="section section--four">
    <div class="container">
        <div class="section__logo">
            <img src="./assets/img/icons/logo-icon.png" alt="Logo icon">
        </div>
        <h2 class="section__title">
            Как применять <span class="section__accent">Микоцин</span>        
        </h2>
        <div class="section__content section__content--section-four">
            <div class="section__img section__img--section-four">
                <img src="./assets/img/instructions-img.png" alt="">
            </div>
            <ul class="section__desc instructions">
                <li class="instructions__item">
                    <div class="instructions__img">
                        <img src="./assets/img/icons/instructions-icon-1.svg" alt="">
                    </div>
                    <p class="instructions__desc">
                        Принимать по 1 таблетке 
                        утром и вечером                        
                    </p>
                </li>
                <li class="instructions__item">
                    <div class="instructions__img">
                        <img src="./assets/img/icons/instructions-icon-2.svg" alt="">
                    </div>
                    <p class="instructions__desc">
                        Запивать стаканом воды                        
                    </p>
                </li>
                <li class="instructions__item">
                    <div class="instructions__img">
                        <img src="./assets/img/icons/instructions-icon-3.svg" alt="">
                    </div>
                    <p class="instructions__desc">
                        Курс – от 30 дней                       
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>