body {
    background-color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0 10px;

    &--header {
        position: relative;
        padding-top: 15px;
    }
}

.text-accent {

    &--orange {
        color: #ff6b00;
    }

    &--green {
        color: #9dbd39;        
    }
}

.underline-accent {
    position: relative;
    z-index: 1;

    &--orange::after {
        position: absolute;
        content: '';
        width: 128px;
        height: 5px;
        background-color: #ff6b00;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &--green::after {
        position: absolute;
        content: '';
        width: 140px;
        height: 5px;
        background-color: #9dbd39;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
        background-image: url(../img/waves-top.png);
        height: 125px;
        width: 100%;
        display: block;
        content: '';
        margin-top: 0px;
    }

    &__main {
        display: flex;
        justify-content: flex-end;
        padding-top: 55px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 70px;
    }

    &__img {
        position: absolute;

        &--legs {
            top: -160px;
            left: -260px;
        }

        &--tablets {
            bottom: -225px;
            left: -130px;
        }
    }

    &__top {
        display: flex;
        justify-content: flex-end;
    }

    &__info {
        display: flex;
    }

    &__desc {
        width: 370px;
        margin-right: 20px;
    }
}

.order-form {
    text-align: center;
    width: 270px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(29, 91, 152, 0.1);
    border: 7px solid #a8ca3f;
    border-radius: 10px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 170px;
        right: -35px;
        display: block;
        background-image: url(../img/icons/arrow.svg);
        width: 49px;
        height: 233px;
    }
    
    &__logo {
        position: absolute;
        background-color: #e9f1fa;
        padding: 0 10px 15px;
        border: 7px solid #a8ca3f;
        border-top: none; 
        border-radius: 0 0 10px 10px;
        top: -7px;  
        left: 55px;     
    }

    &__title {
        padding: 55px 0 18px;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
    }

    &__price {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 20px;

        &--old {
            color: #666666;          
        }

        &--new {
            color: #000000;
        }
    }

    &__field {
        box-sizing: border-box;
        width: 220px;
        margin: 5px auto;
        padding: 20px 20px 20px 45px;
        background-color: #eef2f7;  
        box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
        border-radius: 32px; 
        background-repeat: no-repeat;
        color: #666666;
        font-size: 16px;
        font-weight: 400;   
    }

    &__username {
        background-image: url(../img/icons/user-icon.svg);
        background-position-x: 20px;
    }

    &__phone {
        background-image: url(../img/icons/phone-icon.svg);
        background-position-x: 20px;
    }

    &__button {
        color: #000000;
        font-family: Roboto;
        font-size: 28px;
        line-height: 16px;
        font-weight: 700;
        padding: 20px;
        border-radius: 32px;
        background-color: #a8ca3f;
        background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
        position: relative;
        
        span {
            font-size: 16px;      
        }

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 206px;
            height: 60px;
            border-radius: 30px;
            border: 2px solid #ffffff;
            opacity: 0.3;
            top: 6px;
            left: 5px;
        }
    }

    &__info {
        padding: 20px 0 15px;
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;        
    }

    &__secured {
        padding: 17px 0 15px;
        background-color: #eef2f7;
    }
}

.price {
    color: #000000;
    font-size: 34px;
    line-height: 24px; 
    margin-bottom: 20px;
    
    &--old {
        display: block;
        font-weight: 400;
        padding: 6px 10px;
    }

    &--new {
        display: block;
        font-weight: 900;
        border-radius: 7px; 
        padding: 7px 10px;  
        background-color: #ff6b00;
        background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);     
    }
}

.features {
    display: flex;
    flex-direction: column;
    
    &__item {
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 15px;
        display: block;
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: 7px solid #e8edc9; 
        background-color: #a7c93d;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 45px;
    }

    &__desc {
        width: 290px;
    }
}

.info {
    display: flex;
    align-content: center;

    &__item {
        // width: 210px;
        margin: 0 20px;
        display: flex;
        align-items: center;
        color: #666666;
        font-size: 16px;
        font-style: italic;
        line-height: 18px;
    }

    &__icon {
        padding-right: 10px;
    }
}

.section {
    text-align: center;

    &--one {
        background-color: #ffffff;

    }

    &--two {
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        background-image: linear-gradient(to left, #e9f5f7 0%, #e9f5f7 1%, #f8fdfe 51%, #e9f5f7 100%);

        &::after {
            background-image: url(../img/waves-bottom.png);
            position: absolute;
            height: 133px;
            width: 100%;
            display: block;
            content: '';
            top: -60px;        
        }

        &::before {
            background-image: url(../img/waves-top.png);
            position: absolute;
            height: 60px;
            width: 100%;
            display: block;
            content: '';
            bottom: -30px;                
        }
    }

    &--three {
        background-color: #ffffff;
        position: relative;

        &::after {
            background-image: url(../img/waves-bottom.png);
            position: absolute;
            height: 133px;
            width: 100%;
            display: block;
            content: '';
            bottom: -60px;        
        }
    }

    &--four {
        background-color: #f0f8f8;
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

    &__accent {
        color: #fa4f01;        
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &--section-two {
            margin-top: 80px;
        }

        &--section-three {
            margin-top: 90px;
        }

        &--section-four {
            justify-content: center;
            align-items: center;
        }
    }

    &__footer {
        margin: 75px 0 100px;
        padding: 45px 90px;
        border: 3px solid #f4d3bb;

        &--section-two {
            padding: 30px 95px; 
        }

        &--section-three {
            padding: 0;
            border: solid 4px transparent;
            border-radius: 4px;
            background-image: radial-gradient(circle at top left, #f64d01,#62bd1f);
            background-origin: border-box;
            background-clip: border-box;
        }

    }

    &__title {
        color: #383334;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        padding: 25px 0 35px;

        &--logo {
            color: #383334;
            font-size: 22px;
            line-height: 40px;
            padding: 0 15px;           
        }
        
        &--footer {
            color: #000000;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            position: absolute;
            top: -35px;
            left: 47%; 
            z-index: 1;           
        }

        &--header {
            color: #383334;
            font-size: 44px; 
            line-height: 44px; 
            padding: 0;     
        }
    }

    &__sub-title {
        color: #444444;
        font-size: 23px;
        font-weight: 400;
        line-height: 48px;  
        
        &--bold {
            color: #2b2828;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;        
        }

        &--header {
            font-size: 34px;
            font-weight: 700;
            line-height: 38px;            
        }
    }
}

.section-footer {
    position: relative;
    border-radius: 10px;

    &__desc {
        color: #444444;
        font-size: 22px;
        font-weight: 400;

        &--section-two {
            font-size: 21px;
            line-height: 28px;           
        }

        &--section-three {
            background-color: #ffffff;
            border-radius: 6px;
            padding: 45px 90px;
        }
    }

    &__img {
        position: absolute;
        background-color: #ffffff;
        padding: 0 55px;
        top: -20px;
        left: 500px;
    }

    &__accent {
        color: #f4d3bb;
        font-size: 70px;
        font-weight: 700;
        line-height: 28px;
        z-index: 0; 
        position: absolute;
        top: -10px;
        left: 43%;
        padding: 0 80px;
        background-color: #f7fcfe;       
    }
}

.card {
    width: 330px;

    &--section-one {
        margin-top: 25px;
    }

    &--section-two {
        width: 370px;
        box-shadow: 0 0 15px rgba(37, 83, 129, 0.08);
        background-color: #ffffff;
        border-top: 5px solid #a8c53a;
        border-radius: 10px;
        position: relative;
    }

    &--section-three {
        border: 4px solid #f64d01;
        background-color: #ffffff;
        position: relative;
        border-radius: 10px;

        &::before {
            width: 100px;
            height: 100px;
            content: '';
            position: absolute;
            background-color: #ffffff;
            border-left: 4px solid #f64d01;
            border-bottom: 4px solid #f64d01;
            border-radius: 100%;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            top: -54px;
            left: 35%;
            margin: -4px;
            transform: rotate(-45deg);
        }

        &:nth-child(2) {
            border-color: #f64d01;

            &::before {
                border-left: 4px solid #f64d01;
                border-bottom: 4px solid #f64d01;
            }
        }

        &:nth-child(3) {
            border-color: #62bd1f;

            &::before {
                border-left: 4px solid #62bd1f;
                border-bottom: 4px solid #62bd1f;
            }
        }
    }

    &__icon {
        z-index: 1;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 100%;
        position: absolute;
        bottom: 93%;
        left: 35%;

        &--first {
            background-color: #f5fbfd;
        }

        &--second {
            background-color: #f8fdfe;
        }

        &--third {
            background-color: #f3fafb;
        }

        &--section-three {
            bottom: 90%;
        }
    }

    &__heading {
        padding-bottom: 30px;

        &--section-one {
            display: flex;
            align-items: center;
        }

        &--section-two {
            padding: 65px 0 30px;
            margin: 0 20px;
            border-bottom: 1px solid #d2dce6;
            position: relative;

            &::after {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-top-color: #ffffff;
                border-width: 10px;
                margin-left: -10px;
            }
            
            &::before {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(210, 220, 230, 0);
                border-top-color: #d2dce6;
                border-width: 11px;
                margin-left: -11px;             
            }
        }

        &--section-three {
            padding: 85px 0 0;
        }
    }

    &__title {
        color: #000000;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;

        &--section-two {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;            
        }
        
        &--left {
            text-align: left;
        }
    }

    &__sub-title {
        color: #222222;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        
        &--light {
            color: #666666;
            font-size: 16px;
            font-style: italic;
            line-height: 28px;            
        }
    }

    &__img {
        width: 170px;
        height: 170px;
        position: relative;
        padding: 10px;
        border-top: 10px solid #ec9a6a;
        border-radius: 100%;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;

        &::before {
            width: 170px;
            height: 170px;
            content: '';
            position: absolute;
            padding: 10px;
            border-left: 10px solid #ec9a6a;
            border-radius: 100%;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            top: 0;
            left: 0;
            margin: -10px;
            transform: rotate(45deg);
        }

        &--second {
            border-top-color: #e47643;

            &::before {
                border-left-color: #e47643;
            }
        
        }

        &--third {
            border-top-color: #ec5b19;

            &::before {
                border-left-color: #ec5b19;
            }
        }
    }

    &__number {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &--first {
            background-color: #ec9a6a;
        }

        &--second {
            background-color: #e47643;        
        }

        &--third {
            background-color: #ec5b19;
        }
    }

    &__body {

        &--section-one::before {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background-color: #becbd8;
        }

        &--section-two {
            padding: 25px 35px 35px;
        }

        &--section-three {
            padding: 0 18px 35px;
        }
    }

    &__desc {
        color: #444444;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 20px;
        
        &--left {
            text-align: left;
        }
    }

    &__accent {
        color: #ff6b00;
        font-size: 24px;
        font-weight: 900;
        line-height: 26px;        
    }
}

.instructions {

    &__item {
        display: flex;
        align-items: center;
        margin: 10px;
    }

    &__desc {
        text-align: left;
        width: 220px;
        padding-left: 20px;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        
        &::before {
            content: '';
            display: block;
            width: 20px;
            border-top: 3px solid #7bbf1c;
            padding-top: 20px;         
        }
    }

    &__img {
        width: 90px;
        height: 90px;
        padding: 10px;
        border: 8px solid #e5d0b9;
        background-color: #ffffff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        &::before {
            content: '';
            border: 7px solid #f64d01;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            
        }
    }
}
